
/* Updated color palette */
:root {
  --electric-blue: #4056F4;
  --hot-pink: #FF3586;
  --sunny-yellow: #FFBE0A;
  --neon-cyan: #3BF4FB;
  --mint-green: #47E5BC;
  --deep-purple: #7D07AC; /* New color */
}

body {
  margin: 40px;
  background-color: var(--deep-purple);
  color: var(--sunny-yellow);
  font-size: 16px;
  font-family: roboto, 'Arial', sans-serif;
  min-height: 100vh; /* Ensure the background covers the full viewport height */
}

@font-face {
  font-family: roboto;
  src: url('../../../public/fonts/RobotoCondensed-VariableFont_wght.ttf');
}
