:root {
  --electric-blue: #4056F4;
  --hot-pink: #FF3586;
  --sunny-yellow: #FFBE0A;
  --neon-cyan: #3BF4FB;
  --mint-green: #47E5BC;
  --deep-purple: #7D07AC;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: roboto, 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--deep-purple);
  color: var(--sunny-yellow);
}

@font-face {
  font-family: roboto;
  src: url('../../../public/fonts/RobotoCondensed-VariableFont_wght.ttf');
}
