
.project-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(125, 7, 172, 0.8); /* Deep purple with opacity */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .project-modal-content {
    background-color: #007bff; /* Light gray background */
    padding: 2rem;
    border-radius: 8px;
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center text content */
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .project-link {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: var(--deep-purple);
    color: var(--sunny-yellow);
    text-decoration: none;
    border-radius: 4px;
    border: 2px solid var(--neon-cyan);
  }

  .project-link:hover{
    background-color: var(--neon-cyan);
    color: var(--deep-purple);
    border: 2px solid var(--deep-purple);
  }
  
  .tag {
    display: inline-block;
    background-color: #fff; /* White background for tags */
    padding: 0.25rem 0.5rem;
    margin: 0.25rem;
    border-radius: 4px;
    font-size: 0.875rem;
  }
  
  h2 {
    margin-bottom: 1rem;
  }
  
  p {
    margin-bottom: 1rem;
  }
  
  .tags {
    margin-bottom: 1rem;
  }