.projectCard {
  background-color: var(--deep-purple);
  border: 3px solid var(--neon-cyan);
  border-radius: 15px;
  padding: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  color: var(--sunny-yellow);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.projectCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.projectTitle {
  font-size: 1.4rem;
  margin-bottom: 0.75rem;
  color: var(--neon-cyan);
}

.projectDescription {
  font-size: 1rem;
  margin-bottom: 1rem;
  flex-grow: 1;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: auto;
}

.tag {
  background-color: var(--neon-cyan);
  color: var(--deep-purple);
  padding: 0.3rem 0.6rem;
  border-radius: 15px;
  font-size: 0.8rem;
  font-weight: 600;
}
