.container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: var(--deep-purple);
  color: var(--sunny-yellow);
  border-radius: 8px;
  border: 3px solid var(--neon-cyan);
  box-shadow: 0 0 20px rgba(59, 244, 251, 0.5);
  min-height: calc(100vh - 4rem); /* Adjust for top and bottom margin */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  color: var(--sunny-yellow);
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  text-shadow: 2px 2px var(--deep-purple);
}

.description {
  color: var(--neon-cyan);
  font-size: 1rem;
  font-style: italic;
}

.nav {
  display: flex;
  align-items: center;
}

.navLink {
  background-color: var(--neon-cyan);
  color: var(--deep-purple);
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.navLink:hover {
  background-color: var(--sunny-yellow);
  transform: translateY(-2px);
}

.categoryFilter {
  margin-bottom: 2rem;
}

.categoryFilter select {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: var(--deep-purple);
  color: var(--sunny-yellow);
  border: 2px solid var(--neon-cyan);
  border-radius: 8px;
}

.entries {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.entry {
  background-color: rgba(255, 255, 255, 0.1);
  border: 3px solid var(--neon-cyan);
  border-radius: 8px;
  padding: 1.5rem;
  transition: all 0.3s ease;
}

.entry:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(59, 244, 251, 0.3);
}

.entry h2 {
  margin: 0;
  font-size: 1.5rem;
  color: var(--neon-cyan);
  margin-bottom: 0.5rem;
}

.entry p {
  margin: 10px 0;
  color: var(--sunny-yellow);
  font-size: 1.1rem;
  line-height: 1.6;
}

.entryFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.category {
  background-color: var(--neon-cyan);
  color: var(--deep-purple);
  padding: 0.3rem 0.6rem;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
}

.entry small {
  color: var(--mint-green);
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav {
    margin-top: 1rem;
  }
}
